a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: green;
    border-bottom: 4px solid greenyellow;
    border-radius: 0 0 15px 15px;
    color: white;
}

.header-title {
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
}

.header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-menu li {
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
}

.header-menu a {
    color: white;
    text-decoration: none;
}

.header-menu a:hover {
     text-decoration: underline;
     opacity: 0.8;
}

.header-menu a:last-child {
     margin-right: 20px;
}
